<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
<property name="mappings">
<props>
<prop key="home.htm">ufvc</prop>
<prop key="wish.htm">wc</prop>
<prop key="about_us.htm">ufvc</prop>
<prop key="contact_us.htm">ufvc</prop>
</props>
</property>
</bean>
<bean id="ufvc" class="org.springframework.web.servlet.mvc.UrlFilenameViewController">
</bean>
<bean id="wc" class="org.ar.controller.WishController"></bean>


<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<property name="prefix" value="/WEB-INF/pages/"></property>
<property name="suffix" value=".jsp"></property>
</bean>
</beans>
